In [4]:
# 3.1 리스트와 튜플

# 리스트는 변경 가능(mutable)
# 튜플은 불변(immutable)

In [11]:
# 3.2 리스트
# 3.2.1 리스트 생성하기: [] 또는 list()
# 리스트는 0 혹은 그 이상의 요소로 만들어진다. 콤마(,)로 구분하고, 대괄호([])로 둘러싸여 있다.
empty_list = []
empty_list

[]

In [12]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekdays

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [13]:
big_birds = ['emu', 'ostrich', 'cassowary']
big_birds

['emu', 'ostrich', 'cassowary']

In [14]:
first_names = ['Graham', 'John', 'Terry', 'Terry', 'Michael']
first_names

['Graham', 'John', 'Terry', 'Terry', 'Michael']

In [15]:
# 또한 list() 함수로 빈 리스트를 할당할 수 있다.
another_empty_list = list()
another_empty_list

[]

In [17]:
# 3.2.2 다른 데이터 타입을 리스트로 변환하기: list()

# 하나의 단어를 한 문자 문자열의 리스트로 변환한다.
list('cat')

['c', 'a', 't']

In [19]:
# 튜플을 리스트로 변환한다
a_tuple = ('ready', 'fire', 'aim')
list(a_tuple)

['ready', 'fire', 'aim']

In [20]:
# split() : 문자열을 구분자로 나누어서 리스트로 변환한다.
birthday = '1986/08/08'
birthday.split('/')

['1986', '08', '08']

In [22]:
# 문자열에 구분자가 여러개 있다면?
splitme = 'a/b//c/d///e'
splitme.split('/')
# 빈문자열로 처리하는게 이해가 안가내...
# 아, / 랑 / 사이를 빈문자열로 취급한다고~

['a', 'b', '', 'c', 'd', '', '', 'e']

In [24]:
# 구분자를 //로 사용했을 때
splitme.split('//')

['a/b', 'c/d', '/e']

In [25]:
# 3.2.3 [offset]으로 항목 얻기
# 문자열과 마찬가지로 리스트는 오프셋으로 하나의 특정 값을 추출할 수 있다.
marxes = ['Groucho', 'Chico', 'Harpo']
marxes[0]

'Groucho'

In [26]:
marxes[1]

'Chico'

In [27]:
marxes[2]

'Harpo'

In [28]:
# 문자열과 마찬가지로 음수의 인덱스는 끝에서 거꾸로 값을 추출한다.
marxes[-1]

'Harpo'

In [29]:
marxes[-2]

'Chico'

In [30]:
marxes[-3]

'Groucho'

In [31]:
# 리스트의 오프셋은 값을 할당한 위치에 맞게 입력되어야 한다.
# 오프셋의 위치가 리스트의 범위를 벗어날 경우 예외(에러)가 발생한다.
marxes = ['Groucho', 'Chico', 'Harpo']
marxes[5]

IndexError: list index out of range

In [32]:
marxes[-5]

IndexError: list index out of range

In [34]:
# 3.2.4 리스트의 리스트
# 리스트는 리스트뿐만 아니라 다른 타입의 요소도 포함할 수 있다.
small_birds = ['hummingbird', 'finch']
extinct_birds = ['dodo', 'passenger pigeon', 'Norwegian Blue']
carol_birds = [3, 'French hens', 2, 'turtledoves']
all_birds = [small_birds, extinct_birds, carol_birds]
all_birds

[['hummingbird', 'finch'],
 ['dodo', 'passenger pigeon', 'Norwegian Blue'],
 [3, 'French hens', 2, 'turtledoves']]

In [35]:
# 항목 추출
all_birds[0]

['hummingbird', 'finch']

In [36]:
all_birds[1]

['dodo', 'passenger pigeon', 'Norwegian Blue']

In [38]:
all_birds[1][0]

'dodo'

In [39]:
# 3.2.5 [offset]으로 항목 바꾸기
# 오프셋으로 항목을 얻어서 바꿀 수 있다.
marxes = ['Groucho', 'Chico', 'Harpo']
marxes[2] = 'Wanda'
marxes

['Groucho', 'Chico', 'Wanda']

In [51]:
# 3.2.6 슬라이스로 항목 추출하기
# 슬라이스를 사용해서 리스트의 서브시퀀스를 추출할 수 있다.
marxes = ['Groucho', 'Chico', 'Harpo']
marxes[0:2]
# 리스트의 슬라이스 또한 리스트다.

['Groucho', 'Chico']

In [46]:
# 문자열과 마찬가지로 슬라이스 스텝 사용이 가능하다
# 처음부터 오른쪽으로 2칸씩 항목을 추출
marxes[::2]

['Groucho', 'Harpo']

In [47]:
# 끝에서 왼쪽으로 2칸씩 항목을 추출
marxes[::-2]

['Harpo', 'Groucho']

In [48]:
# 리스트 반전
marxes[::-1]

['Harpo', 'Chico', 'Groucho']

In [52]:
# 3.2.7 리스트의 끝에 항목 추가하기: append()
marxes.append('Zeppo')
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo']

In [54]:
# 3.2.8 시트으 병합하기: extend() 또는 +=
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
others = ['Gummo', 'Karl']
marxes.extend(others)
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo', 'Gummo', 'Karl']

In [57]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
others = ['Gummo', 'Karl']
marxes += others
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo', 'Gummo', 'Karl']

In [59]:
# append()를 사용하면 항목을 '병합'하지 않고, others가 하나의 리스트로 추가된다.
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
others = ['Gummo', 'Karl']
marxes.append(others)
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo', ['Gummo', 'Karl']]

In [60]:
# 3.2.9 오프셋과 insert()로 항목 추가하기
# 원하는 위치에 항목을 추가할 수 있다.
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
marxes.insert(3, 'Gummo')
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']

In [62]:
# 리스트의 끝을 넘는 오프셋은 append()처럼 끝에 항목을 추가한다.
marxes.insert(10, 'Karl')
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo', 'Karl', 'Karl']

In [69]:
# 리스트도 가능
others = ['a', 'b']
marxes.insert(10, others)
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo', 'Karl', 'Karl', ['a', 'b']]

In [70]:
# 3.2.10 오프셋으로 항목 삭제하기: del
del marxes[-1]
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo', 'Karl', 'Karl']

In [76]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']
marxes[2]

'Harpo'

In [77]:
del marxes[2]
marxes[2]

'Gummo'

In [78]:
# del은 리스트 함수가 아니라 파이썬 구문이다. 
marxes[-2].del()

SyntaxError: invalid syntax (<ipython-input-78-2452558d5f8d>, line 1)

In [79]:
# 3.2.11 값으로 항목 삭제하기: remove()
# 삭제할 항목의 위치를 모르는 경우
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']
marxes.remove('Gummo')
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo']

In [80]:
# 3.2.12 오프셋으로 항목을 얻은 후 삭제하기: pop()
# pop()은 리스트에서 항목을 가져오는 동시에 그 항목을 삭제한다.
# 오프셋과 함께 pop()을 호출했다면 그 오프셋의 항목이 반환된다.
# 인자가 없다면 -1을 사용한다. (pop(0)은 리스트의 헤드, pop() 혹은 pop(-1)은 리스트의 테일을 반환한다.)
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']
marxes.pop()

'Zeppo'

In [81]:
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo']

In [82]:
marxes.pop(1)

'Chico'

In [83]:
marxes

['Groucho', 'Harpo', 'Gummo']

In [84]:
# LIFO(Last In First Out, stack), 수집한 데이터에서 가장 최근 것을 먼저 사용할 때: append() + pop()
# FIFO(First In First Out)수집한 데이터에서 가장 오래된 것을 먼저 사용할 때: append() + pop(0)

In [85]:
# 3.2.13 값으로 항목 오프셋 찾기: index()
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']
marxes.index('Chico')

1

In [86]:
# 3.2.14 존재여부 확인하기: in
# 리스트에서 어떤 값의 존재를 확인할 때
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']
'Groucho' in marxes

True

In [87]:
'Bob' in marxes

False

In [88]:
# 리스트에는 같은 값이 여러 개 존재할 수 있다.
# 적어도 하나 존재하면 in은 True를 반환한다.
words = ['a', 'deer', 'a' 'female', 'deer']
'deer' in words

True

In [89]:
# 3.2.15 값 세기: count()
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']
marxes.count('Harpo')

1

In [90]:
marxes.count('Bob')

0

In [91]:
snl_skit = ['cheeseburger', 'cheeseburger', 'cheeseburger']
snl_skit.count('cheeseburger')

3

In [92]:
# 3.2.16 문자열로 변환하기: join()
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']
', '.join(marxes)

'Groucho, Chico, Harpo, Gummo, Zeppo'

In [ ]:
# join()은 문자열 메서드지, 리스트 메서드가 아니다.
# marxes.join(', ')이 조금 더 직관적으로 보일지라도 이렇게 사용할 수 없다.
# join()의 인자는 문자열 혹은 반복 가능한(iterable) 문자열의 시퀀스(리스트포함)다.
# 결과로 반환되는 값은 문자열이다.

# join()이 리스트 메서드였다면, 튜플과 문자열 같은 다른 반복 가능한 객체와 함께 사용하지 못할 것이다.
# 어떤 반복 가능한 타입을 처리하기 위해 각 타입을 실제로 병합할 수 있도록 특별한 코드가 필요했다.

# join()을 split()의 반대라고 생각하면 기억하기 쉬울 것이다.

In [93]:
friends = ['Harry', 'Hermione', 'Ron']
separator = ' * '
joined = separator.join(friends)
joined

'Harry * Hermione * Ron'

In [94]:
separated = joined.split(separator)
separated

['Harry', 'Hermione', 'Ron']

In [98]:
# 3.2.17 정렬하기: sort()와 sorted()

# sort()는 리스트 자체를 내부적으로 정렬한다.
# sroted()는 리스트의 정렬된 복사본을 반환한다.

# 리스트의 항목이 숫자인 경우, 기본적으로 오름차순
# 문자열인 경우, 알파벳순
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']
marxes.sort()
marxes

['Chico', 'Groucho', 'Gummo', 'Harpo', 'Zeppo']

In [104]:
sorted_marxes = sorted(marxes)

print(sorted_marxes)
# sorted_marxes는 복사본이다. 원본 리스트는 변하지 않았다.
print(marxes)

['Chico', 'Groucho', 'Gummo', 'Harpo', 'Zeppo']
['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']

In [106]:
# 모두 같은 타입일 경우 sort()는 제대로 동작한다.
# 때때로 정수와 부동소수점 같이 혼합된 타입도 졍렬할 수 있다. 이럴 경우 파이썬이 자동으로 형변환해서 항목들을 정렬한다.
numbers = [2, 1, 4.0, 3]
numbers.sort()
numbers

[1, 2, 3, 4.0]

In [107]:
# 3.2.18 항목 개수 얻기: len()
# 리스트의 항목 수 반환
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']
len(marxes)

5

In [108]:
# 3.2.19 할당: =, 복사: copy()
# 한 리스트를 변수 두 곳에 할당했을 경우, 한 리스트를 변경하면 다른 리스트도 따라서 변경된다.(참조)

In [110]:
a = [1, 2, 3]
a

[1, 2, 3]

In [111]:
b = a
b

[1, 2, 3]

In [113]:
a[0] = 'surprise'
a

['surprise', 2, 3]

In [114]:
b

['surprise', 2, 3]

In [115]:
b[0] = 'I hate surprize'
b

['I hate surprize', 2, 3]

In [116]:
a

['I hate surprize', 2, 3]

In [117]:
# 새로운 리스트로 복사할 수 있는 방법
a = [1, 2, 3]

In [ ]:
# copy() 함수
b = a.copy()

In [ ]:
# list() 변환 함수
c = list(a)

In [119]:
# 슬라이스[:]
d = a[:]

In [120]:
# b,c,d는 a의 복사본이다. 이들은 자신만의 값을 가진 새로운 객체다.

In [121]:
# 복사본 b,c,d를 바꾸더라도 원본 a에는 아무런 영향을 주지 않는다.
a[0] = 'integer lists are boring'
a

['integer lists are boring', 2, 3]

In [122]:
b

[1, 2, 3]

In [123]:
c

[1, 2, 3]

In [124]:
d

[1, 2, 3]

In [125]:
# 5월 21일 일요일

In [1]:
# 3.3 튜플
# 튜플은 불변한다. (튜플을 정의한 후에는 추가, 삭제, 수정을 할 수 없다는 것을 의미한다.)

In [2]:
# 3.3.1 튜플 생성하기: ()
empty_tuple = ()
empty_tuple

()

In [4]:
# 하나 이상의 요소가 있는 튜플을 만들기 위해서는 각 요소 뒤에 콤마(,)를 붙인다.
one_marx = 'Groucho',
one_marx

('Groucho',)

In [5]:
# 두 개 이상의 요소가 있을 경우, 마지막 요소에는 콤마를 붙이지 않는다.
marx_tuple = 'Groucho', 'Chico', 'Harpo'
marx_tuple

('Groucho', 'Chico', 'Harpo')

In [6]:
# 튜플을 정의할 때는 괄호 ()가 필요 없다.
# 뒤에 콤마가 붙는다는 것은 튜플을 정의한다는 뜻이다.
# 그러나 값들을 괄호로 묶어서 튜플을 정의한다면, 이것이 튜플인지 '구분'하기가 더 쉽다.
marx_tuple = ('Groucho', 'Chico', 'Harpo')
marx_tuple

('Groucho', 'Chico', 'Harpo')

In [14]:
# 튜플은 한 번에 여러 변수를 할당할 수 있다. (튜플 언팩킹)
marx_tuple = ('Groucho', 'Chico', 'Harpo')
a, b, c = marx_tuple
a

'Groucho'

In [15]:
b

'Chico'

In [16]:
c

'Harpo'

In [21]:
# 한 문장에서 값을 교환하기 위해 임시 변수를 사용하지 않고 튜플을 사용할 수 있다. (?)
password = 'swordfish'
icecream = 'tuttifrutti'
password, icecream = icecream, password # 이 부분이 튜플인건가
password

'tuttifrutti'

In [22]:
icecream

'swordfish'

In [23]:
# tuple()은 다른 객체를 튜플로 만들어준다.
# 리스트를 튜플로
marx_list = ['Groucho', 'Chico', 'Harpo']
tuple(marx_list)

('Groucho', 'Chico', 'Harpo')

In [24]:
# 3.3.2 튜플과 리스트
# 리스트를 대신해서 튜플을 사용할 수 있다. 하지만 튜플은 리스트의 append(), insert()등과 같은 함수가 없고, 함수의 수가 매우 적다.
# 튜플을 생성한 후에는 수정할 수 없기 때문이다.

# 튜플을 사용하는 이유

# 튜플은 더 적은 공간을 사용한다.
# 실수로 튜플의 항목이 손상될 염려가 없다.
# 튜플을 딕셔너리 키로 사용할 수 있다.(딕셔너리는 다음 절에서 다룬다.)
# 네임드 튜플(?, named tuple)은 객체의 단순한 대안이 될 수 있다.
# 함수의 인자들은 튜플로 전달된다.

# 일반적으로 리스트와 딕셔너리를 더 많이 사용한다.

In [25]:
# 3.4 딕셔너리 (딕트_dict)
# 리스트와 비슷하다.
# 다른 점은 항목의 순서를 따지지 않으며, 0 또는 1과 같은 오프셋으로 항목을 선택할 수 없다.
# 대신 값에 상응하는 고유한 키(key)를 지정한다.
# 이 키는 대부분 문자열이지만, 불변하는 파이썬의 어떤 타입이 될 수도 있다.
# 딕셔너리는 변경 가능하므로 키-값 요소를 추가, 삭제, 수정할 수 있다.

# 다른 언어에서는 딕셔너리를 연관배열(associative array), 해시(hash), 해시맵(hashmap) 이라고 부른다.

In [26]:
# 3.4.1 딕셔너리 생성하기: {}
# 딕셔너리를 생성하기 위해서는 중괄호({}) 안에 콤마로 구분된 키:값 쌍을 지정한다.

In [28]:
# 다음은 키:값 쌍이 하나도 없는 빈 딕셔너리다.
empty_dict = {}
empty_dict

{}

In [32]:
bierce = {
    "day": "A period of twenty-four hours, mostly misspent",
    "positive": "Mistaken at the top of one's voice",
    "misfortune": "The kind of fortune that never misses",
}
bierce

{'day': 'A period of twenty-four hours, mostly misspent',
 'misfortune': 'The kind of fortune that never misses',
 'positive': "Mistaken at the top of one's voice"}

In [35]:
# 3.4.2 딕셔너리로 변환하기: dict()
# 각 시퀀스의 첫 번째 항목은 키(key)로, 두 번째 항목은 값(value)으로 사용된다.
lol = [['a', 'b'], ['c', 'd'], ['e', 'f']]
dict(lol)

{'a': 'b', 'c': 'd', 'e': 'f'}

In [44]:
# 두 항목 튜플 리스트의 딕셔너리 변환
lot = [('a', 'b'), ('c', 'd'), ('e', 'f')]
dict(lot)

{'a': 'b', 'c': 'd', 'e': 'f'}

In [39]:
# 두 항목 리스트 튜플의 딕셔너리 변환
tol = (['a', 'b'], ['c', 'd'], ['e', 'f'])
dict(tol)

{'a': 'b', 'c': 'd', 'e': 'f'}

In [41]:
# 두 문자 문자열 리스트의 딕셔너리 변환
los = [ 'ab', 'cd', 'ef' ]
dict(los)

{'a': 'b', 'c': 'd', 'e': 'f'}

In [45]:
# 두 문자 문자열 튜플의 딕셔너리 변환
tos = ( 'ab', 'cd', 'ef' )
dict(tos)

{'a': 'b', 'c': 'd', 'e': 'f'}

In [51]:
# 3.4.3 항목 추가/변경하기: [key]
# 키가 딕셔너리에 이미 존재하는 경우, 그 값은 새 값으로 대체된다.
# 키가 존재하지 않는 경우, 새 값이 키와 사전에 추가된다.
# 리스트와 달리 인덱스의 범위 지정이 벗어 났다는 예외에 대해 걱정할 필요가 없다.
# 딕셔너리의 키들은 반드시 유일해야 한다.
# 만약 같은 키를 두 번 이상 사용하면 마지막 값이 승리(!)한다.

In [52]:
pythons = {
    'Champion': 'Graham',
    'Cleese': 'John',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Palin': 'Michael',
}
pythons

{'Champion': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [53]:
pythons['Gilliam'] = 'Gerry'
pythons

{'Champion': 'Graham',
 'Cleese': 'John',
 'Gilliam': 'Gerry',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [54]:
pythons['Gilliam'] = 'Terry'
pythons

{'Champion': 'Graham',
 'Cleese': 'John',
 'Gilliam': 'Terry',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [56]:
# 3.4.3 딕셔너리 결합하기: update()
# update() 함수는 한 딕셔너리의 키와 값들을 복사해서 다른 딕셔너리에 붙여준다.

In [71]:
pythons = {
    'Champion': 'Graham',
    'Cleese': 'John',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Palin': 'Michael',
    'Gilliam': 'Terry'
}
pythons

{'Champion': 'Graham',
 'Cleese': 'John',
 'Gilliam': 'Terry',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [72]:
others = { 'Marx': 'Groucho', 'Howard': 'Moe'}

In [73]:
pythons.update(others)
pythons

{'Champion': 'Graham',
 'Cleese': 'John',
 'Gilliam': 'Terry',
 'Howard': 'Moe',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Marx': 'Groucho',
 'Palin': 'Michael'}

In [74]:
# 두 번째 딕셔너리를 첫 번째 딕셔너리에 병합하려고 하는데, 두 딕셔너리에 같은 키값이 있다면...
# 두 번째 딕셔너리에 있는 값이 승리(!)한다.
first = {'a': 1, 'b': 2}
second = {'b': 'platypus'}
first.update(second)
first

{'a': 1, 'b': 'platypus'}

In [75]:
# 3.4.5 키와 del로 항목 삭제하기
del pythons['Marx']
pythons

{'Champion': 'Graham',
 'Cleese': 'John',
 'Gilliam': 'Terry',
 'Howard': 'Moe',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [76]:
del pythons['Howard']
pythons

{'Champion': 'Graham',
 'Cleese': 'John',
 'Gilliam': 'Terry',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [77]:
# 3.4.6 모든 항목 삭제하기: clear()
# clear()를 사용하거나
pythons.clear()
pythons

{}

In [79]:
pythons = {
    'Champion': 'Graham',
    'Cleese': 'John',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Palin': 'Michael',
    'Gilliam': 'Terry'
}
# 빈 딕셔너리({})를 이름에 할당
pythons = {}
pythons

{}

In [80]:
# 3.4.7 in으로 키 멤버십 테스트하기
# 딕셔너리에 키가 존재하는지 알고 싶다면 in을 사용한다.
pythons = {
    'Champman': 'Graham',
    'Cleese': 'John',
    'Jones': 'Terry',
    'Palin': 'Michael',
}
'Champman' in pythons

True

In [81]:
'Palin' in pythons

True

In [82]:
'Gilliam' in pythons

False

In [83]:
# 3.4.8 항목 얻기: [key]
pythons['Cleese']

'John'

In [84]:
# 딕셔너리에 키가 존재하지 않으면 예외를 얻게 된다.
pythons['Marx']

KeyError: 'Marx'

In [91]:
# 위 문제를 피할 수 있는 두가지 방법, in 과 딕셔너리의 get() 함수
pythons.get('Cleese')

'John'

In [88]:
# 만약 키가 존재하지 않으면, 옵션값을 지정해서 이를 출력할 수 있다.
pythons.get('Marx', 'Not a Python')

'Not a Python'

In [92]:
# 옵션값을 지정하지 않으면 None을 얻는다.
pythons.get('Marx')

In [93]:
# 3.4.9 모든 키 얻기: keys()
signals = {'green':'go', 'yellow':'go faster', 'red':'smile for the camera'}
signals.keys()

dict_keys(['yellow', 'green', 'red'])

In [94]:
# 파이썬 2의 keys()는 단지 리스트를 반환한다. 파이썬 3은 순회 가능한(iterable) 키들을 보여주는 dict_keys()를 반환한다.
# 이것은 아주 큰 딕셔너리에 유용하다. 사용되지 않을 리스트를 생성하고 저장하기 위한 메모리와 시간을 소비하지 않기 때문이다.
# 이것을 실제 리스트로 쓰고 싶을 때는 아래와 같이 list()를 호출해서 dict_keys 객체를 리스트로 변환할 수 있다. (values(), items()도 마찬가지)
list(signals.keys())

['yellow', 'green', 'red']

In [96]:
# 3.4.10 모든 값 얻기: values()
signals.values()

dict_values(['go faster', 'go', 'smile for the camera'])

In [97]:
list(signals.values())

['go faster', 'go', 'smile for the camera']

In [99]:
# 3.4.11 모든 쌍의 키-값 얻기: items()
list(signals.items())
# 각 키와 값은 튜플로 반환된다.

[('yellow', 'go faster'), ('green', 'go'), ('red', 'smile for the camera')]

In [100]:
# 3.4.12 할당: =, 복사: copy()
signals = {'green':'go', 'yellow':'go faster', 'red':'smile for the camera'}
save_signals = signals
signals['blue'] = 'confuse everyone'
save_signals

{'blue': 'confuse everyone',
 'green': 'go',
 'red': 'smile for the camera',
 'yellow': 'go faster'}

In [103]:
# 리스트와 마찬가지로 딕셔너리를 할당한 후 변경할 때 딕셔너리를 참조하는 모든 이름에 변경된 딕셔너리를 반영한다.
# 그러므로 딕셔너리의 키와 값을 또 다른 딕셔너리로 복사하기 위해서는 위와 같이 할당하지 않고 copy()를 사용한다.
signals = {'green':'go', 'yellow':'go faster', 'red':'smile for the camera'}
original_signals = signals.copy()
signals['blue'] = 'confuse everyone'
signals

{'blue': 'confuse everyone',
 'green': 'go',
 'red': 'smile for the camera',
 'yellow': 'go faster'}

In [104]:
original_signals

{'green': 'go', 'red': 'smile for the camera', 'yellow': 'go faster'}

In [112]:
# 3.5 셋
# 셋(set)은 값은 버리고 키만 남은 딕셔너리와 같다. 딕셔너리와 마찬가지로 각 키는 유일해야 한다.
# 어떤 것이 존재하는지 여부만 판단하기 위해서는 셋을 사용한다. 
# 그리고 키에 어떤 정보를 첨부해서 그 결과를 얻고 싶으면 딕셔너리를 사용한다.(?)

# 3.5.1 셋 생성하기: set()
# set() 함수 
# 중괄호({}) 안에 콤마로 구분된 하나 이상의 값

# 딕셔너리의 키와 마찬가지로 셋은 순서가 없다.

In [113]:
empty_set = set()
empty_set

set()

In [114]:
even_numbers = {0, 2, 4, 6, 8}
even_numbers

{0, 2, 4, 6, 8}

In [115]:
odd_numbers = {1, 3, 5, 7, 9}
odd_numbers

{1, 3, 5, 7, 9}

In [117]:
# 3.5.2 데이터 타입 변환하기: set()
# 리스트, 문자열, 튜플, 딕셔너리로부터 중복된 값을 버린 셋을 생성할 수 있다.
set('letters')
# 'e'와 't'가 두 개씩 있어도, 셋에는 이 문자들이 하나씩 포함되어 있다.

# 집합연산을 위한 자료구조라고 이해된다. 그런게 언제 뭘 구할때 사용될진 모르겠어도...

{'e', 'l', 'r', 's', 't'}

In [118]:
# 리스트를 셋으로
set(['Dasher', 'Dancer', 'Prancer', 'Mason-Dixon'])

{'Dancer', 'Dasher', 'Mason-Dixon', 'Prancer'}

In [119]:
# 튜플을 셋으로
set(('Ummagumma', 'Echoes', 'Atom heart Mother'))

{'Atom heart Mother', 'Echoes', 'Ummagumma'}

In [120]:
# 딕셔너리를 셋으로 (키만 사용한다.)
set({'apple': 'red', 'orange': 'orange', 'cherry': 'red'})

{'apple', 'cherry', 'orange'}

In [125]:
# 3.5.3 in으로 값 멤버십 테스트하기
# 일반적으로 사용되는 셋의 용도

# 각 키는 혼합음료의 이름, 값은 음료에 필요한 재료들의 셋
drinks = {
    'martini': {'vodka', 'vermouth'},
    'black russian': {'vodka', 'kahlua'},
    'white russian': {'cream', 'kahlua', 'vodka'},
    'manhattan': {'rye', 'vermouth', 'bitters'},
    'screwdriver': {'orange juice', 'vodka'}
}

In [126]:
# 보드카(vodka)가 포함된 음료는 무엇인가?
for name, contents in drinks.items():
    if 'vodka' in contents:
        print(name)

screwdriver
black russian
martini
white russian

In [127]:
for name, contents in drinks.items():
    if 'vodka' in contents and not ('vermouth' in contents or 'cream' in contents):
        print(name)

screwdriver
black russian

In [131]:
# 3.5.4 콤비네이션과 연산자
# &(앰퍼샌드): 셋 인터섹션 연산자(set intersection operator), 교집합
for name, contents in drinks.items():
    if contents & {'vermouth', 'orange juice'}:
        print(name)

screwdriver
manhattan
martini

In [132]:
for name, contents in drinks.items():
    if 'vodka' in contents and not contents & {'vermouth', 'cream'}:
        print(name)

screwdriver
black russian

In [139]:
# 예제용 변수
bruss = drinks['black russian']
wruss = drinks['white russian']

In [140]:
# 예제용 변수
a = {1, 2}
b = {2, 3}

In [141]:
# & 연산자와 intersection() 함수, 교집합
a & b

{2}

In [142]:
a.intersection(b)

{2}

In [143]:
bruss & wruss

{'kahlua', 'vodka'}

In [144]:
# | 연산자와 union() 함수, 합집합
a | b

{1, 2, 3}

In [145]:
a.union(b)

{1, 2, 3}

In [146]:
bruss | wruss

{'cream', 'kahlua', 'vodka'}

In [147]:
# - 연산자와 difference() 함수, 차집합
a - b

{1}

In [148]:
a.difference(b)

{1}

In [149]:
bruss - wruss

set()

In [150]:
wruss - bruss

{'cream'}

In [153]:
# ^ 연산자와 symmetric_difference() 함수, exclusive, 대칭 차집합
# symmetric: 1. (좌우) 대칭적인   2. 균형이 잡힌, 조화를 이룬.
a ^ b

{1, 3}

In [154]:
a.symmetric_difference(b)

{1, 3}

In [155]:
bruss ^ wruss

{'cream'}

In [156]:
# <= 연산자와 issubset() 함수, 첫 번째 셋이 두번째 셋의 서브셋(부분집합)인지
a <= b

False

In [157]:
bruss <= wruss

True

In [158]:
# 모든 셋은 자신의 서브셋이다.
a <= a

True

In [159]:
a.issubset(a)

True

In [160]:
# 프로퍼 서브셋(proper subset), 진부분집합
# 첫 번째 셋이 두번째 셋의 진부분집합이 되려면, 두 번째 셋에는 첫 번째 셋의 모든 멤버를 포함한 그 '이상의 멤버'가 있어야 한다.
a < b

False

In [161]:
a < a

False

In [162]:
bruss < wruss

True

In [163]:
# >=연산자와 issuperset(), 슈퍼셋
# subset의 반대
a >= b

False

In [164]:
a.issuperset(b)

False

In [165]:
wruss >= bruss

True

In [166]:
# 모든 셋은 자신의 슈퍼셋이다.
a >= a

True

In [167]:
a.issuperset(a)

True

In [168]:
# 프로퍼 슈퍼셋(proper superset)
# 첫 번째 셋이 두번째 셋의 프로퍼 슈퍼셋이 되려면, 첫 번째 셋에는 두 번째 셋의 모든 멤버를 포함한 그 '이상의 멤버'가 있어야 한다.
a > b

False

In [169]:
wruss > bruss

True

In [170]:
# 모든 셋은 자신의 프로퍼 슈퍼셋이 될 수 없다.
a > a

False

In [171]:
# 말장난하는 기분...

In [178]:
# 3.6 자료구조 비교하기
# 리스트는 [] (대괄호)
marx_list = ['Groucho', 'Chico', 'Harpo']
# 튜플은 , (콤마)
marx_tuple = 'Groucho', 'Chico', 'Harpo'
# 딕셔너리는 {} 중괄호
marx_dict = {'Groucho': 'banjo', 'Chico': 'piano', 'Harpo': 'harp'}

In [174]:
# 각각의 요소는 대괄호를 이용해서 하나의 요소에 접근할 수 있다.
# 리스트와 튜플은 정수 오프셋
marx_list[2]

'Harpo'

In [175]:
marx_tuple[2]

'Harpo'

In [177]:
# 딕셔너리는 키
marx_dict['Harpo']

'harp'

In [179]:
# 이 세가지에 대한 결과는 값

In [180]:
# 3.7 자료구조를 더 크게
marxes = ['Groucho', 'Chico', 'Harpo']
pythons = ['Champion', 'Cleese', 'Gilliam', 'Jones', 'Palin']
stooges = ['Moe', 'Curly', 'Larry']

In [181]:
tuple_of_lists = marxes, pythons, stooges
tuple_of_lists

(['Groucho', 'Chico', 'Harpo'],
 ['Champion', 'Cleese', 'Gilliam', 'Jones', 'Palin'],
 ['Moe', 'Curly', 'Larry'])

In [182]:
list_of_lists = [marxes, pythons, stooges]
list_of_lists

[['Groucho', 'Chico', 'Harpo'],
 ['Champion', 'Cleese', 'Gilliam', 'Jones', 'Palin'],
 ['Moe', 'Curly', 'Larry']]

In [184]:
dict_of_lists = {'Marxes': marxes, 'Pythons': pythons, 'Stooges': stooges}
dict_of_lists

{'Marxes': ['Groucho', 'Chico', 'Harpo'],
 'Pythons': ['Champion', 'Cleese', 'Gilliam', 'Jones', 'Palin'],
 'Stooges': ['Moe', 'Curly', 'Larry']}

In [185]:
# 딕셔너리의 키는 불변하기 때문에 리스트, 딕셔너리, 셋은 다른 딕셔너리의 키가 될 수 없다.
# 튜플은 딕셔너리의 키가 될 수 있다. (ex: GPS좌표(위도, 경도, 고도))

In [186]:
# 3.8 연습문제

# (숫자와 문자열, 자료구조 + 리스트, 튜플, 딕셔너리, 셋) 을 통해 현실세계의 다양한 것을 표현할 수 있다.

In [187]:
# 1. 출생년도에 대한 리스트 year_lists를 만들어라. 출생년도를 첫 번째 요소로 하고 1년씩 증가하는 다섯 번째 생일까지의 요소를 넣는다.
# 출생년도가 1980이라고 가정한다.
years_lists = [1980, 1981, 1982, 1983, 1984]
years_lists

[1980, 1981, 1982, 1983, 1984]

In [188]:
# 2. years_list의 세 번째 생일의 년도는? 참고로 오프셋 0은 출생년도다.
years_lists[2]

1982

In [189]:
# 3. years_list 중 가장 나이가 많을 때의 년도는?
years_lists[0]

1980

In [191]:
# 4. things 리스트를 만들어라.
# 이 리스트는 "mozzarella", "cinderella", "salmonella"
things = ["mozzarella", "cinderella", "salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

In [193]:
# 5. things 리스트에서 사람 이름의 첫 글자를 대문자로 바꿔서 출력하라.
things[1].capitalize()

'Cinderella'

In [196]:
# 6. things 리스트의 치즈 요소를 모두 대문자로 바꿔서 출력하라.
things[0].upper()

'MOZZARELLA'

In [199]:
# 7. things 리스트에 질병 요소가 있다면 제거한 뒤 리스트를 출력하라.
del things[2]
things

['mozzarella', 'cinderella']

In [200]:
# 8. surprise 리스트를 생성하라. 이 리스트는 "Groucho", "Chico", "Harpo" 세 문자열을 요소로 갖는다.
surprise = ["Groucho", "Chico", "Harpo"]
surprise

['Groucho', 'Chico', 'Harpo']

In [204]:
# 9. surprise 리스트의 마지막 요소를 소문자로 변경하고, 단어를 역전시킨 후, 첫 글자를 대문자로 바꿔라.
sur_last = surprise[-1].lower()
print(sur_last)
sur_reverse = sur_last[::-1]
print(sur_reverse)
sur_capitalize = sur_reverse.capitalize()
print(sur_capitalize)

harpo
oprah
Oprah

In [226]:
# 10. 영어-프랑스어 사전을 의미하는 e2f 딕셔너리를 만들어라. 
# 영어의 dog는 프랑스어 chien이고, cat은 chat, walrus는 morse다.
e2f = {"dog": "chien", "cat": "chat", "walrus": "morse"}
e2f

{'cat': 'chat', 'dog': 'chien', 'walrus': 'morse'}

In [228]:
# 11. f2e 딕셔너리에서 영어 walrus를 프랑스어로 출력하라.
e2f["walrus"]

'morse'

In [230]:
# 12. 영어-프랑스어 사전의 e2f 딕셔너리를 이용해서 프랑스어-영어 사전 f2e 딕셔너리를 만들어라
# items 메서드 사용
f2e = {}
for eng, fra in e2f.items():
    f2e[fra] = eng
f2e

{'chat': 'cat', 'chien': 'dog', 'morse': 'walrus'}

In [231]:
# 13. f2e 딕셔너리를 사용해서 프랑스어 chien을 의미하는 영어를 출력하라.
f2e["chien"]

'dog'

In [232]:
# 14. e2f 딕셔너리의 영어 단어 키를 출력하라.
set(e2f.keys())

{'cat', 'dog', 'walrus'}

In [242]:
# 15. 이차원 딕셔너리 life를 만들어라. 최상위 키는 'animals', 'plants', 'other'다.
# 그리고 'animals'는 각각 'cats', 'octopi', 'emus'를 키로 하고, 'Henri', 'Grumpy', 'Lucy'를 값으로 하는
# 또 다른 딕셔너리를 참조하고 있다. 나머지 요소는 빈 딕셔너리를 참조한다.
life = {
    'animals': {
        'cats': [
            'Henri', 'Grumpy', 'Lucy'
        ], 
        'octopi': {}, 
        'emus': {}
    },
    'plants': {},
    'other':{},
}

In [246]:
# 16. life 딕셔너리의 최상위 키를 출력하라.
print(life.keys())
print(list(life.keys()))

dict_keys(['plants', 'other', 'animals'])
['plants', 'other', 'animals']

In [247]:
# 17. life['animals']의 모든 키를 출력하라.
print(life['animals'].keys())

dict_keys(['emus', 'cats', 'octopi'])

In [248]:
# 18. life['animals']['cats']의 모든 값을 출력하라.
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']

In [ ]:
# 리스트, 튜플, 딕셔너리, 셋 까지 마쳤다...
# 모든 내용을 다 기억하긴 어렵겠지만, 각 자료구조의 특징들을 손으로 익혀볼 수 있었던 시간이라 좋았다.