In [3]:
# 2.1 변수, 이름, 객체

# 파이썬에서는 모든 것(부울, 정수, 실수 문자열, 데이터 구조, 함수, 프로그램)이 객체(object)로 구현되어 있다.
# 타입은 데이터값을 변경할 수 있는 변수(가변, mutable)인지 혹은 변경할 수 없는 상수(불편, immutable)인지 판단할 수 있다.
# 변수는 컴퓨터 메모리에 있는 값을 참조하기 위한 이름이다. 변수에 값을 할당하기 위해 = 을 사용한다.

7

In [4]:
# a 변수에 정수값 7을 할당
a = 7
# 현재 a에 할당된 값을 출력
print(a)

7

In [5]:
# 변수는 단지 이름일 뿐이다.
# 할당한다는 의미는 값을 복사하는 것이 아니다. 데이터가 담긴 객체에 그냥 이름을 붙이는 것이다. 
# 그 이름은 객체 자신에 포함되는 것이라기보다는 객체의 참조다.

In [7]:
a = 7
print(a)
b = 7
print(b)

7
7

In [16]:
# 파이썬에서 변수 혹은 리터럴값의 타입을 알고 싶다면 type(변수 혹은 리터럴값)을 사용하면 된다.
type(a)

int

In [18]:
type(b)

int

In [20]:
type(58)

int

In [22]:
type(99.9)

float

In [24]:
type('abc')

str

In [25]:
# 클래스는 객체의 정의를 의미한다. (더 자세히는 6장에서...)
# 파이썬에서 'class'와 'type'은 그 의미가 거의 같다.

# 변수 이름에는 다음 문자만 사용할 수 있다.
# 소문자(a~z)
# 대문자(A~Z)
# 숫자(0~9)
# 언더스코어(_)
# 이름은 숫자로 시작할 수 없다. 또한 파이썬은 언더스코어로 시작하는 이름을 특별한 방법으로 처리한다.(4장에서 살펴본다...)

# 유효한 이름의 예
# a
# a1
# a_b_c___95
# _abc
# _1a

# 사용할 수 없는 이름
# 1
# 1a
# 1_

# 다음은 파이썬의 예약어(reserved word)다. 아래에 있는 이름을 변수로 선언하면 안된다.
# False    Class    Finally    is    return
# None    continue    for    lambda    try
# True    def    from    nonlocal    while
# and    del    global    not    with
# as    elif    if    or    yield
# assert    else    import    pass
# break    except    in    raise

In [29]:
# 2.2 숫자

# 파이썬은 정수(5, 1,000,000,000 등)와 부동소수점수(3.1416, 14.99, 1.87e4 등)을 지원하는 기능이 내장되어 있다.
# 다음과 같은 수학 연산자로 계산할 수 있다.

13

In [ ]:
# + (더하기)
5 + 8

In [30]:
# - (빼기)
90 - 10

80

In [31]:
# * (곱하기)
4 * 7

28

In [32]:
# / (부동소수점 나누기)
7 / 2

3.5

In [33]:
# //(정수 나누기(소수점 이하 버림))
7 // 2

3

In [35]:
# %(나머지)
7 % 3

1

In [36]:
# ** (지수)
3 ** 4

81

In [37]:
# 2.2.1 정수

# 대화식 인터프리터에서 연속된 숫자는 리터럴(literal) 정수로 간주한다.
5

5

In [38]:
# 숫자 0을 쓸 수 있다.
0

0

In [40]:
# 하지만 0을 다른 숫자 앞에 넣을 수는 없다.
05

SyntaxError: invalid token (<ipython-input-40-12a5258b57dc>, line 2)

In [44]:
# 숫자 앞에 기호가 없으면 양수를 의미한다. 숫자 앞에 + 기호를 붙여도 똑같은 양수다.
+123

123

In [45]:
# 음수를 표현하려면 숫자 앞에 - 기호를 붙인다.
-123

-123

In [46]:
# 덧셈, 뺄셈은 별 다른게 없고...
# 숫자 사이의 공백에 상관없이 계산을 수행하고...
# 곱셈 또한 별 다른게 없고...

In [47]:
# 나눗셈은 조금 더 재미있다. 다음 두 가지 방법이 있다.
# / 와 //

In [49]:
# / 는 부동소수점을 포함한 결과가 출력된다.
# 정수를 정수로 나누더라도 /로 나누면 부동소수점 결과가 나온다.
9 / 5

1.8

In [51]:
# // 는 부동소수점을 제외한 결과, 즉 정수가 출력된다.
# 소수점 이하를 버리고, 정수를 출력한다.
9 // 5

1

In [52]:
# 0으로 나누면 예외가 발생한다.
5 / 0

ZeroDivisionError: division by zero

In [54]:
7 // 0

ZeroDivisionError: integer division or modulo by zero

In [58]:
# 정수값이 할당된 변수와 리터럴 정수를 혼합해서 쓸 수 있다.
a = 95
a - 3

92

In [59]:
# a - 3의 값을 a에 할당하지 않았다. 그러므로 a의 값은 변하지 않는다.
a

95

In [60]:
# a의 값을 바꾸고 싶다면, 다음과 같이 하면 된다.
a = a - 3
a

92

In [63]:
# 파이썬의 표현식에서는 =의 오른쪽을 먼저 계산한다. 그러고 나서 왼쪽의 변수에 계산된 값을 할당한다.

# 이것을 다음과 같이 생각해보자.
# a에서 3을 뺀다.
# 빼기의 결과를 임시 변수 temp에 할당한다.
# 임시 변수 temp의 값을 a에 할당한다.

a = 95
temp = a - 3
a = temp

print(a)

92

In [68]:
# 이것은 아래와 같이 작성이 가능하다.
# =의 오른쪽에서 빼기를 계산하여 그 결과를 기억한 다음에, 왼쪽에 있는 a에 할당한다.
# 이 방법은 앞서 임시 변수를 사용한 방법보다 빠르고 깔끔하다.
a = 95
a = a - 3

print(a)

92

In [82]:
# = 앞에 산술 연산자를 결합해서 할당할 수 있다.
# a -= 3 은 a = a - 3과 같다.
a = 95
a -= 3

print(a)

92

In [83]:
# 다음은 a = a + 8과 같다.
a += 8

print(a)

100

In [84]:
# 마찬가지로 다음은 a = a * 2와 같다.
a *= 2

print(a)

200

In [87]:
# a = a / 3과 같은 부동소수점 나눗셈 예제
a /= 3

print(a)

7.407407407407408

In [89]:
# a에 13을 할당한 후, 축약된 a = a // 4(소수점 이하 버림)를 계산해보자.
a = 13
a //= 4
print(a)

3

In [90]:
# %는 두 숫자 사이의 값을 구할 때 첫 번째 숫자(피제수)를 두 번째 숫자(제수)로 나눈 나머지가 계산된다.
9 % 5

4

In [92]:
# (소수점을 제외한) 몫과 나머지를 동시에 얻는 방법은 다음과 같다.
divmod(9, 5)
# divmod 함수에서 인자로 정수 9와 5를 넣으면 튜플(tuple)이라고 하는 두 항목의 결과로 반환된다.

(1, 4)

In [95]:
# 다음과 같이 따로 계산할 수도 있다.
a = 9 // 5
print(a)
b = 9 % 5
print(b)

1
4

In [96]:
# 2.2.2 우선순위

# 산수할 때 우선순위랑 같다
2 + 3 * 4

14

In [97]:
# 먼저 수행하고자 하는 계산식에 괄호를 붙이면 쉽게 해결할 수 있다.
2 + (3 * 4)

14

In [98]:
# 2.2.3 진수

# 정수 앞에 진수(base)를 붙이지 않으면 10진수로 간주한다.

# 10진수 외에도 세 가지 리터럴 정수를 표현할 수 있다.
# 2진수(binary): 0b 혹은 0B
# 8진수(octal): 0o 혹은 0O
# 16진수(hex): 0x 혹은 0X

# 인터프리터는 이 리터럴 정수들을 10진수로 출력해준다.
a = 0b10
b = 0o10
c = 0x10

print(a)
print(b)
print(c)

2
8
16

In [101]:
# 2.2.4 형변환

# 다른 데이터 타입을 정수형으로 변환하려면 int() 함수를 사용한다. 이 함수는 소수점을 버리고 정수를 반환한다.

In [102]:
# 파이썬에서 가장 간단한 데이터 타입은 True와 False 값만을 가진 부울형이다. 이 타입을 정수로 변환하면 각각 1과 0을 반환한다.
int(True)

1

In [103]:
int(False)

0

In [104]:
# 부동소수점수를 정수로 변환하면 소수점을 버리고 정수를 출력한다.

98

In [107]:
int(98.6)

98

In [108]:
int(1.0e4)

10000

In [109]:
# +, - 기호와 숫자로 이루어진 텍스트 문자열을 정수로 변환하는 예제를 살펴보자

In [110]:
int('99')

99

In [111]:
int('-23')

-23

In [112]:
int('+12')

12

In [113]:
# int() 함수에서 숫자가 아닌 다른 뭔가를 변환하면 다음과 같이 예외가 발생한다.
int('99 bottles of beer on the wall')

ValueError: invalid literal for int() with base 10: '99 bottles of beer on the wall'

In [114]:
int('')

ValueError: invalid literal for int() with base 10: ''

In [115]:
# int()는 부동소수점수, 혹은 숫자로 이루어진 문자열을 정수로 반환한다.
# 그러나 다음과 같이 소수점 혹은 지수를 포함하는 문자열은 처리하지 않는다.

In [116]:
int('98.6')

ValueError: invalid literal for int() with base 10: '98.6'

In [117]:
int('1.0e4')

ValueError: invalid literal for int() with base 10: '1.0e4'

In [118]:
# 만약 숫자의 타입을 섞어서 사용하면, 파이썬은 자동으로 형변환을 한다.
4 + 7.0

11.0

In [120]:
# 정수 혹은 부동소수점수와 같이 부울값을 계산할 때 False는 0 혹은 0.0으로, True는 1 혹은 1.0으로 간주한다.

In [121]:
True + 2

3

In [122]:
False + 5.0

5.0

In [123]:
# 2.2.5 int의 크기
# 파이썬 3에서는 long이 사라지고, int의 크기가 유연해졌다. 64비트보다 더 큰 공간을 가질 수 있다. (10**100 도 가능)
10**100

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [124]:
# 2.2.6 부동소수점수

# float
# +, -, *, /, //, **, % 연산과 divmod() 함수를 사용할 수 있다는 점에서 정수와 유사하게 처리된다.

# 부동소수점수로 형변환하기 위해서는 float() 함수를 사용한다.

In [125]:
float(True)

1.0

In [126]:
float(False)

0.0

In [128]:
# 정수에서 부동소수점수로 변환할 때는 간단하게 소수점을 붙인다.

In [129]:
float(98)

98.0

In [130]:
float('99')

99.0

In [131]:
#유효한 부동소수점수의 문자열(숫자, 기호, 소수점, 혹은 지수)을 부동소수점수로 변환할 수 있다.

In [132]:
float('98.6')

98.6

In [133]:
float('-1.5')

-1.5

In [134]:
float('1.0e4')

10000.0

In [135]:
# 파이썬에는 제곱근, 코사인 등과 같은 수학 함수가 있다.

In [137]:
# 2.3 문자열

# 파이썬3 에서는 유니코드(Unicode) 표준에 대한 지원
# 다른 언어와 달리 파이썬에서는 문자열이 불편(immutable)이다. 
# 문자열 자체는 변경할 수 없지만, 같은 효과를 얻기 위해 문자열의 일부를 다른 문자열로 복사할 수는 있다.

In [ ]:
# 2.3.1 인용 부호로 문자열 생성

# '', "" (단일, 이중 인용 부호 모두 똑같이 처리)

# 두 가지 종류의 인용 부호가 있는 이유
# '""', "''" (단일 안에 이중, 이중 안에 단일 로 사용가능)

In [138]:
# 세 개의 단일 인용 부호 혹은 세 개의 이중 인용 부호를 사용할 수 있다.

In [139]:
'''Boom!'''

'Boom!'

In [140]:
"""Eek!"""

'Eek!'

In [149]:
# 세 개의 단일 인용 부호는 위와 같은 짧은 문자열에는 유용하지 않다.
# 여러 줄의 문자열에 사용한다.
# 문자열 끝에 들어 있는 라인 끝 문자가 보존된다. 또한 양쪽 끝에 공백이 있는 경우에도 보존된다.
poem = '''There was a
Young Lady of Norway;
When the door squeezed her flat,
She exclaimed, "What of that?"
This courageous Young Lady of Norway.'''

print(poem)

There was a
Young Lady of Norway;
When the door squeezed her flat,
She exclaimed, "What of that?"
This courageous Young Lady of Norway.

In [150]:
# 단일 인용 부호는 에러
poem = 'There was a
Young Lady of Norway;
When the door squeezed her flat,
She exclaimed, "What of that?"
This courageous Young Lady of Norway.'

SyntaxError: EOL while scanning string literal (<ipython-input-150-b85aa1ca9a35>, line 2)

In [155]:
# 빈 문자열의 활용 예
bottles = 99
# base = ''
base += 'current inventory: '
base += str(bottles)
base

'current inventory: 99current inventory: 99current inventory: 99current inventory: 99'

In [157]:
# 2.3.2 데이터 타입 변환: str()

In [158]:
str(98.6)

'98.6'

In [159]:
str(1.0e4)

'10000.0'

In [160]:
str(True)

'True'

In [162]:
# 2.3.3 이스케이프 문자: \

# \n : 줄바꿈
# \t : tab
# \' 또는 \"
# \\ : 백슬래시 \

In [163]:
# 2.3.4 결합: +

In [164]:
'Release the kraken! ' + 'At once!'

'Release the kraken! At once!'

In [171]:
"My word! " "A gentleman caller!"

'My word! A gentleman caller!'

In [168]:
a = 'Duck.'
b = a
c = 'Grey Duck!'
# 파이썬은 문자열을 결합할 때 공백을 자동으로 붙이지 않는다.
a + b + c

'Duck.Duck.Grey Duck!'

In [172]:
# print()는 각 인자 사이에 공백을 붙인다. 그리고 마지막에는 줄바꿈 문자(\n)를 붙인다.
print(a, b, c)

Duck. Duck. Grey Duck!

In [174]:
# 2.3.5 복제하기: *
start = 'Na ' * 4 + '\n'
middle = 'Hey ' * 3 + '\n'
end = 'Goodbye.'
print(start + start + middle + end)

Na Na Na Na
Na Na Na Na
Hey Hey Hey
Goodbye.

In [176]:
# 2.3.6 문자추출: []

# 문자열에서 한 문자를 얻기 위해서는 문자열 이름 뒤에 대괄호([])와 오프셋을 지정한다.
# 가장 왼쪽의 오프셋은 0이고, 그 다음은 1, 2, ... 
# 가장 오른쪽의 오프셋은 -1, 그 다음은 -2, -3, ...

In [178]:
letters = 'abcdefghijklmnopqrstuvwxyz'

In [179]:
letters[0]

'a'

In [180]:
letters[1]

'b'

In [183]:
letters[-1]

'z'

In [184]:
letters[-2]

'y'

In [185]:
letters[25]

'z'

In [186]:
letters[5]

'f'

In [187]:
# 오프셋을 문자열의 길이 혹은 이상으로 지정하는 경우 발생하는 예외
letters[100]

IndexError: string index out of range

In [189]:
# 인덱싱은 다른 시퀀스 타입(리스트와 튜플)과 동일하게 동작한다.
# 문자열은 불변하기 때문에 특정 인덱스에 문자를 삽입하거나 변경할 수 없다.
name = 'Henny'
name[0] = 'P'

TypeError: 'str' object does not support item assignment

In [192]:
# 대신 replace()와 슬라이스(slice)와 같은 문자열 함수를 사용할 수 있다.

In [193]:
name = 'Henny'
name.replace('H', 'P')

'Penny'

In [194]:
'P' + name[1:]

'Penny'

In [195]:
# 2.3.7 슬라이스: [start:end:step]

# 슬라이스(slice)를 사용하여 문자열의 일부(substring)를 추출할 수 있다.
# 대괄호를 사용하여 시작(start) 오프셋, 끝(end) 오프셋, 그리고 옵션으로 스텝(step)을 명시하여 슬라이스를 정의한다.
# 이들 중 일부는 생략할 수 있다.
# 슬라이스는 오프셋의 start와 end - 1 사이의 문자를 포함한다.

# [:] 처음부터 끝까지 전체 시퀀스를 추출한다.
# [start:] start 오프셋부터 끝까지 시퀀스를 추출한다.
# [:end] 처음부터 (end-1)오프셋까지 시퀀스를 추출한다.
# [start:end] start 오프셋부터 (end-1) 오프셋까지 시퀀스를 추출한다.
# [start:end:step] step만큼 문자를 건너뛰면서, start 오프셋부터 (end-1) 오프셋까지 시퀀스를 추출한다.

# 시작 지점에서 오른쪽으로 0, 1, 2, ...
# 끝에서 왼쪽으로 -1, -2, -3, ...

# 만약 시작 오프셋을 명시하지 않으면 슬라이스는 0(시작)을 사용
# 끝 오프셋을 명시하지 않으면 마지막 문자를 사용

In [196]:
letters = 'abcdefghijklmnopqrstuvwxyz'

In [197]:
# 전체 문자열 지정
letters[:]

'abcdefghijklmnopqrstuvwxyz'

In [207]:
# 오프셋 20부터 문자열 끝까지
letters[20:]

'uvwxyz'

In [208]:
# 오프셋 10부터 문자열 끝까지
letters[10:]

'klmnopqrstuvwxyz'

In [209]:
# 오프셋 12부터 14까지 추출(마지막 오프셋은 포함하지 않으므로 14가 아닌 15를 지정)
letters[12:15]

'mno'

In [210]:
# 마지막 세 문자
letters[-3:]

'xyz'

In [202]:
# 오프셋 18부터 마지막 네 번째 문자(끝 오프셋에 -3을 지정하면 -4번째 문자인 w가 된다.)
letters[18:-3]

'stuvw'

In [211]:
# 끝에서 여섯번째 문자부터 끝에서 세 번째 문자까지 추출
letters[-6:-2]

'uvwx'

In [212]:
# 처음부터 끝까지 7스텝씩 건너뛰면서 문자를 추출
letters[::7]

'ahov'

In [213]:
# 4번째부터 19번째까지 3스텝씩
letters[4:20:3]

'ehknqt'

In [214]:
# 19번째부터 끝까지 4스텝씩
letters[19::4]

'tx'

In [215]:
# 처음부터 20번째까지 5스텝씩 건너뛰면서 문자를 추출
letters[:21:5]

'afkpu'

In [216]:
# 끝 오프셋은 실제 오프셋 +1이다.

In [219]:
# 끝에서부터 시작 지점까지 빠짐없이 문자를 추출(백스텝)
letters[::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [ ]:
# 슬라이스는 단일 인덱스 조회라기보다는 까다로운 오프셋 조건을 광범위하게 조회하는 것에 더 가깝다.

In [228]:
# 끝에서 50번째부터 문자열 끝까지 추출
letters[-50:]

'abcdefghijklmnopqrstuvwxyz'

In [230]:
# 끝에서 51번째부터 끝에서 51번째까지의 문자를 추출
letters[-51:-50]

''

In [231]:
# 처음부터 69번째까지 문자를 추출
letters[:70]

'abcdefghijklmnopqrstuvwxyz'

In [227]:
# 70번째부터 70번째까지 문자를 추출
letters[70:71]

''

In [1]:
# 5월 20일 토요일

In [ ]:
# 2.3.8 문자열 길이: len()

In [2]:
letters = 'abcdefghijklmnopqrstuvwxyz'

len(letters)

26

In [3]:
empty = ''

len(empty)

0

In [11]:
# 2.3.9 문자열 나누기: split()
# 어떤 '구분자'를 기준으로 하나의 문자열을 작은 문자열들의 '리스트'로 나누기 위해서 사용
# 구분자가 없이도 사용이 가능하다. 그런 경우엔 줄바꿈, 스페이스, 탭 을 '구분자'로 사용한다.
# '함수 호출' 시에 ()가 필요하다.

In [12]:
todos = 'get gloves,get mask,give cat vitamins,call ambulance'
todos.split(',')

['get gloves', 'get mask', 'give cat vitamins', 'call ambulance']

In [14]:
# 2.3.10 문자열로 결합하기: join()
# 문자열 '리스트'를 하나의 문자열로 결합한다.

In [17]:
crypto_list = ['Yeti', 'Bigfoot', 'Loch Ness Monster']
crypto_string = ', '.join(crypto_list)

print(crypto_string)

Yeti, Bigfoot, Loch Ness Monster

In [18]:
# 2.3.11 문자열 다루기
# 예제

In [19]:
poem = '''All that doth flow we cannot liquid name
Or else would fire and water be the same;
But that is liquid which is moist and wet
Fire that property can never get.
Then 'tis not cold that doth the fire put out
But 'tis the wet that makes it die, no doubt.'''

In [22]:
# 처음 13자를 출력 (오프셋 0에서 12)
poem[:13]

'All that doth'

In [24]:
# 이 시는 몇글자?(스페이스와 줄바꿈을 포함해)
len(poem)

251

In [26]:
# 이 시는 All로 시작하는가?: startswith()
poem.startswith('All')

True

In [27]:
# 이 시는 That's all, folks!로 끝나는가?: endswith()
poem.endswith('That\' all, folks!')

False

In [34]:
# 이 시에서 첫 번째로 the가 나오는 오프셋은?: find()
# 대/소문자 영향 받음, 검색단위가 단어가 아니고 패턴임
word = 'the'
poem.find(word)

73

In [38]:
word = 'The'
poem.find(word) # 5번째 줄에 Then 가운데 The의 인덱스를 반환

159

In [41]:
# 마지막으로 the가 나오는 오프셋은?: rfind()
word = 'the'
poem.rfind(word)

214

In [42]:
# 세 글자 the가 몇 번 나오는가?: count()
poem.count('the')

3

In [43]:
# 이 시는 글자와 숫자로만 이루어져 있는가?: isalnum()
poem.isalnum()

False

In [44]:
# 2.3.12 대소문자와 배치
setup = "a duck goes into a bar..."

In [45]:
# 양끝에서 . 시퀀스를 삭제한다.
setup.strip('.')

'a duck goes into a bar'

In [46]:
# 각 예제는 단지 값을 설정하고, 함수를 수행한 뒤, 새로운 문자열로 결과를 반환할뿐이다. (문자열은 불변!)

In [48]:
# 첫 번째 단어를 대문자로: capitalize()
setup.capitalize()

'A duck goes into a bar...'

In [49]:
# 모든 단어의 첫 글자를 대문자로: title()
setup.title()

'A Duck Goes Into A Bar...'

In [50]:
# 글자를 모두 대문자로: upper()
setup.upper()

'A DUCK GOES INTO A BAR...'

In [51]:
# 글자를 모두 소문자로: lower()
setup.lower()

'a duck goes into a bar...'

In [53]:
# 대문자는 소문자로, 소문자는 대문자로: swapcase()
setup.swapcase()

'A DUCK GOES INTO A BAR...'

In [54]:
# 문자열 정렬(alignment) 함수

In [55]:
# 문자열을 지정한 공간에서 중앙에 배치: center()
setup.center(30)

'  a duck goes into a bar...   '

In [57]:
# 왼쪽에 배치: ljust()
setup.ljust(30)

'a duck goes into a bar...     '

In [58]:
# 오른쪽에 배치: rjust()
setup.rjust(30)

'     a duck goes into a bar...'

In [59]:
# 2.3.13 대체하기: replace()
# 인자값으로 바꿀 문자열, 대체할 새 문자열, 바꿀 문자열에 대한 횟수 입력
# 마지막 인자값이 생략되면 1번만 실행
setup.replace('duck', 'marmoset')

'a marmoset goes into a bar...'

In [62]:
setup.replace('a', ' a famous ', 100)
# 다른 단어 중간의 'a'도 바뀔 수 있다는 점을 주의해야 한다.
# 정규표현식을 함께 사용하면 된다.

' a famous  duck goes into  a famous  b a famous r...'

In [63]:
# 2.4 연습문제

In [65]:
# 1시간은 몇 초인가?
60 * 60

3600

In [66]:
# 계산한 결과를 seconds_per_hour 변수에 저장하라
seconds_per_hour = 60 * 60

In [67]:
# 1일은 몇 초인가?
24 * 60 * 60

86400

In [68]:
# 계산한 결과를 seconds_per_day 변수에 저장하라
seconds_per_day = 24 * 60 * 60

In [69]:
# 부동소수점(/) 나눗셈을 사용해서 seconds_per_day를 seconds_per_hour로 나누어라.
seconds_per_day / seconds_per_hour

24.0

In [70]:
# 정수(//) 나눗셈을 사용해서 seconds_per_day 를 seconds_per_hour 로 나누어라.
# 이전 문제의 부동소수점 결과에서 본 .0이 있는가?
seconds_per_day // seconds_per_hour

24